div(style='background: #f4f4f4;width: 700px;padding: 0 1px;margin: 0 auto;font-family:Microsoft YaHei,黑体;')
    div(style='padding: 0px;position: relative;')
        img(src='http://lianyun.qiniudn.com/header.png')
    div(style='background: #fff;margin: 0px;padding:20px 50px 0px 50px;')
        | 尊敬的&nbsp;
        strong= name
        | &nbsp;先生/女士，您好
    div(style='background: #fff;margin:0px;padding:5px 50px 20px 50px;line-height: 180%')
        p(style='text-indent:2em;')
            | SMARTBADGE向您提供完整的观展记录，便于您更好的回顾本届#{expo}。您关注的领域是
            strong= interest
            |。SMARTBADGE在展前向您推荐了相关领域的部分展台。展期中您共在#{number}个展台留下联系方式。以下是您本次观展的相关记录：
    div(style='padding:10px;')
        each rank in data
            table(style='width:100%;border-collapse:collapse;margin-bottom:20px;')
                thead
                    tr
                        th(colspan='4' style='position:relative;background:url(/img/banner.png) no-repeat center top;box-shadow: 1px 4px 5px rgba(221,221,221,0.7);padding:10px 5px;font-weight: bold;border: 1px solid #ddd;color:#fff;')= rank.area
                tbody
                    - for(var i=0,len=rank.list.length/2;i<len;i++)
                        - var first=rank.list[2*i]
                        - var second = rank.list[2*i+1]||{name:'',url:'#'}
                            tr(valign='middle' style='background:#fcfcfc;')
                                td(style='border-bottom: 1px solid #eee;text-align:center;width:100px;')
                                    a(style='text-decoration:none;color:#000;' href='#{first.url}' target='_blank')
                                        img(src='#{first.img}' width='90')
                                td(style='border: 1px solid #eee;border-left:none;padding:10px 10px 10px 5px;width:250px;')
                                    a(style='text-decoration:none;color:#000;' href='#{first.url}' target='_blank')
                                        div(style='font-size: 11px;margin-bottom:5px;font-weight: bold;')= first.name
                                        div(style='font-size:11px;font-family:Arial;')= first.en_name
                                td(style='border-bottom: 1px solid #eee;text-align:center;width:100px;')
                                    a(style='text-decoration:none;color:#000;' href='#{second.url}' target='_blank')
                                        if second.img
                                            img(src='#{second.img}' width='90')
                                td(style='border: 1px solid #eee;border-left:none;padding:10px 10px 10px 5px;width:250px;')
                                    a(style='text-decoration:none;color:#000;' href='#{second.url}' target='_blank')
                                        div(style='font-size: 11px;margin-bottom:5px;font-weight: bold;')= second.name
                                        div(style='font-size:11px;font-family:Arial;')= second.en_name
                    tr(style='background: #fcfcfc;')
                        td(colspan='4' align='right' style='border: 1px solid #eee;padding:10px;')
                            a(href='http://www.tctasia.cn/guanzhongzhongxin/zhanshangliebiao.html' style='text-decoration:none;color:#da4f4a;' target='_blank') 点击查看更多&gt;&gt;
    div(style="background: #fff;padding-top:20px;text-align:right;")
        img(src='http://lianyun.qiniudn.com/mail_brand.png')